<div class="checkbox mainContactCheck">
   <!-- <input {$disabled} type="checkbox" name="{$fieldName}" id="{$fieldName}" data-section="{$fieldSection}" class="main-contact-change-checkbox" /> -->
    <!-- <label>{$fieldLabel}</label> -->
    {if !empty($fieldHelpText)}
    <p class="help-block">For typo mistakes in the contacts related fields insert directly the corrections in the bellow fields.</br>
        Should you want to change fully the contact person´s details, please, firstly activate the following box  <input {$disabled} type="checkbox" name="{$fieldName}" id="{$fieldName}" data-section="{$fieldSection}" class="main-contact-change-checkbox" /></br>
    and then provide the new contact´s details in the fields bellow.</p>
    {/if}
</div>
